body {
    text-align: center;
    //font-family: 'Londrina Shadow', cursive;
    font-family: 'Source Code Pro', monospace;

}

ul {
    list-style: none;
}

span {
    font-size: 23px;
}

button {
    font-family: 'Source Code Pro', monospace;
}