body {
    text-align: center;
    //font-family: 'Londrina Shadow', cursive;
    font-family: 'Source Code Pro', monospace;

}

ul {
    list-style: none;
}

span {
    font-size: 20px;
    display: flex;
    flex-direction: column;
    padding-bottom: 7px;
}

button {
    font-family: 'Source Code Pro', monospace;
}

h3 {
    margin: 0;
    padding-top: 26px;
}